.container {
  display: grid;
  gap: 1vw;
  height: 100vh;
  grid-template: repeat(8, 1fr) / repeat(4, 1fr);
}

.container>div {
  color: white;
  background-color: lightcoral;
  font-size: 2vw;
  padding: 0.5em;
}

.container>div:nth-child(1) {
  grid-column: span 4
    /* grid-row: span 4 */
}

.container>div:nth-child(2) {
  grid-row: span 4
}

.container>div:nth-child(6) {
  grid-row: span 3
}

.container>div:nth-child(4) {
  grid-row: span 2
}

.container>div:nth-child(5) {
  grid-row: span 3
}