.container {
  display: grid;
  gap: 1vw;
  height: 30vh;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.container>div {
  color: white;
  background-color: lightcoral;
  font-size: 2vw;
  padding: 0.5em;
}